Repository nervosnetwork/rfcs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nervosnetwork/rfc, @knwang, @janx, @xxuejie, @doitian, @kilb, @jjyr, @yangby-cryptape, @aszepieniec, @quake, @TheWaWaR, @zhangsoledad, @nirenzang, @CipherWang

ci: deploy book to gh-pages
  .github/workflows/deploy.yaml
Owners: @nervosnetwork/rfc

chore: add missing introdction.md for mdbook
  generate-book.sh
Owners: @nervosnetwork/rfc

update introduction
  introduction.html
Owners: @nervosnetwork/rfc

update index.html
  index.html
Owners: @nervosnetwork/rfc

doc: replace telegram badge with discord
  README.md
Owners: @nervosnetwork/rfc

Update 0001-positioning.md
  rfcs/0001-positioning/0001-positioning.md
Owners: @nervosnetwork/rfc, @knwang

make RFC status more clear in README
  README.md
Owners: @nervosnetwork/rfc

finalize 0001 and 0002
  rfcs/0001-positioning/0001-positioning.md
  rfcs/0002-ckb/0002-ckb.md
Owners: @nervosnetwork/rfc, @knwang, @janx

revise RFC process, add more status to both tracks
  README.md
Owners: @nervosnetwork/rfc

fix 0001/0002 status
  README.md
Owners: @nervosnetwork/rfc

Update README.md
  README.md
Owners: @nervosnetwork/rfc

More status (#271)
  README.md
Owners: @nervosnetwork/rfc

Revert "More status (#271)"
  README.md
Owners: @nervosnetwork/rfc

add more network protocols: ping
  rfcs/0012-node-discovery/images/ping_connected.jpg
  rfcs/0012-node-discovery/images/ping_init.jpg
  rfcs/0012-node-discovery/images/ping_notify.jpg
  rfcs/0012-node-discovery/images/ping_received.jpg
  rfcs/0012-node-discovery/node-ping.zh.md
Owners: @nervosnetwork/rfc, @jjyr, @TheWaWaR

Update ckb-vm related RFCs' statuses
  README.md
  rfcs/0003-ckb-vm/0003-ckb-vm.md
  rfcs/0003-ckb-vm/0003-ckb-vm.zh.md
  rfcs/0005-priviledged-mode/0005-priviledged-mode.md
  rfcs/0005-priviledged-mode/0005-priviledged-mode.zh.md
Owners: @nervosnetwork/rfc, @xxuejie

finalize 006
  README.md
  rfcs/0006-merkle-tree/0006-merkle-tree.md
  rfcs/0006-merkle-tree/0006-merkle-tree.zh.md
Owners: @nervosnetwork/rfc, @kilb

chore: withdraw 0007
  README.md
  rfcs/0007-scoring-system-and-network-security/0007-scoring-system-and-network-security.md
  rfcs/0007-scoring-system-and-network-security/0007-scoring-system-and-network-security.zh.md
Owners: @nervosnetwork/rfc, @jjyr

chore: finalize "RFC-0008: Serialization"
  README.md
  rfcs/0008-serialization/0008-serialization.md
Owners: @nervosnetwork/rfc, @yangby-cryptape

Finalize syscall RFC for Lina
  README.md
  rfcs/0009-vm-syscalls/0009-vm-syscalls.md
Owners: @nervosnetwork/rfc, @xxuejie

Use active status instead of final
  README.md
  rfcs/0009-vm-syscalls/0009-vm-syscalls.md
Owners: @nervosnetwork/rfc, @xxuejie

set status of eaglesong to active
  README.md
  rfcs/0010-eaglesong/0010-eaglesong.md
Owners: @nervosnetwork/rfc, @aszepieniec

Mark VM cycle limit RFC for Lina version as active status
  README.md
  rfcs/0014-vm-cycle-limits/0014-vm-cycle-limits.md
Owners: @nervosnetwork/rfc, @xxuejie

set 0013 block template to active
  README.md
  rfcs/0013-get-block-template/0013-get-block-template.md
Owners: @nervosnetwork/rfc, @zhangsoledad

Update discovery protocol molecule schema
  rfcs/0012-node-discovery/0012-node-discovery.md
  rfcs/0012-node-discovery/0012-node-discovery.zh.md
Owners: @nervosnetwork/rfc, @jjyr, @TheWaWaR

add udt info
  rfcs/0000-sudt-info/0000-sudt info.md
Owners: @nervosnetwork/rfc

chore: withdraw 0011
  README.md
  rfcs/0011-transaction-filter-protocol/0011-transaction-filter-protocol.md
Owners: @nervosnetwork/rfc, @quake

Capital bench32 and bench32m
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
Owners: @nervosnetwork/rfc, @CipherWang

alias
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
Owners: @nervosnetwork/rfc, @CipherWang

update state, author and origination
  rfcs/0021-ckb-address-format/.DS_Store
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
Owners: @nervosnetwork/rfc, @CipherWang

align prefix
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
Owners: @nervosnetwork/rfc, @CipherWang

update multisig script
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
Owners: @nervosnetwork/rfc, @CipherWang

update rfcs/0021
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
Owners: @nervosnetwork/rfc, @CipherWang

update format type description of 0x00
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
Owners: @nervosnetwork/rfc, @CipherWang

exchange args position of full address format
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
Owners: @nervosnetwork/rfc, @CipherWang

Update 0021-ckb-address-format.md
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
Owners: @nervosnetwork/rfc, @CipherWang

fix encode algorithm name, replace bech32 instead of bench32
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
Owners: @nervosnetwork/rfc, @CipherWang

update readme
  README.md
Owners: @nervosnetwork/rfc

add link for common used code hash
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
Owners: @nervosnetwork/rfc, @CipherWang

rm .DS_Store file
  rfcs/0021-ckb-address-format/.DS_Store
Owners: @nervosnetwork/rfc, @CipherWang

ignore .DS_Store
  .gitignore
Owners: @nervosnetwork/rfc

.github/CODEOWNERS:

* @nervosnetwork/rfc
/rfcs/0001-positioning/ @nervosnetwork/rfc @knwang
/rfcs/0002-ckb/ @nervosnetwork/rfc @janx
/rfcs/0003-ckb-vm/ @nervosnetwork/rfc @xxuejie
/rfcs/0004-ckb-block-sync/ @nervosnetwork/rfc @doitian
/rfcs/0005-priviledged-mode/ @nervosnetwork/rfc @xxuejie
/rfcs/0006-merkle-tree/ @nervosnetwork/rfc @kilb
/rfcs/0007-scoring-system-and-network-security/ @nervosnetwork/rfc @jjyr
/rfcs/0008-serialization/ @nervosnetwork/rfc @yangby-cryptape
/rfcs/0009-vm-syscalls/ @nervosnetwork/rfc @xxuejie
/rfcs/0010-eaglesong/ @nervosnetwork/rfc @aszepieniec
/rfcs/0011-transaction-filter-protocol/ @nervosnetwork/rfc @quake
/rfcs/0012-node-discovery/ @nervosnetwork/rfc @jjyr @TheWaWaR
/rfcs/0013-get-block-template/ @nervosnetwork/rfc @zhangsoledad
/rfcs/0014-vm-cycle-limits/ @nervosnetwork/rfc @xxuejie
/rfcs/0015-ckb-cryptoeconomics/ @nervosnetwork/rfc @knwang @janx
/rfcs/0017-tx-valid-since/ @nervosnetwork/rfc @jjyr
/rfcs/0019-data-structures/ @nervosnetwork/rfc @xxuejie
/rfcs/0020-ckb-consensus-protocol/ @nervosnetwork/rfc @nirenzang
/rfcs/0021-ckb-address-format/ @nervosnetwork/rfc @CipherWang
/rfcs/0022-transaction-structure/ @nervosnetwork/rfc @doitian
/rfcs/0023-dao-deposit-withdraw/ @nervosnetwork/rfc @xxuejie @doitian
