Repository nervosnetwork/rfcs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nervosnetwork/rfc, @knwang, @janx, @xxuejie, @doitian, @kilb, @jjyr, @yangby-cryptape, @aszepieniec, @quake, @TheWaWaR, @zhangsoledad, @nirenzang, @CipherWang

.github/CODEOWNERS:

* @nervosnetwork/rfc
/rfcs/0001-positioning/ @nervosnetwork/rfc @knwang
/rfcs/0002-ckb/ @nervosnetwork/rfc @janx
/rfcs/0003-ckb-vm/ @nervosnetwork/rfc @xxuejie
/rfcs/0004-ckb-block-sync/ @nervosnetwork/rfc @doitian
/rfcs/0005-priviledged-mode/ @nervosnetwork/rfc @xxuejie
/rfcs/0006-merkle-tree/ @nervosnetwork/rfc @kilb
/rfcs/0007-scoring-system-and-network-security/ @nervosnetwork/rfc @jjyr
/rfcs/0008-serialization/ @nervosnetwork/rfc @yangby-cryptape
/rfcs/0009-vm-syscalls/ @nervosnetwork/rfc @xxuejie
/rfcs/0010-eaglesong/ @nervosnetwork/rfc @aszepieniec
/rfcs/0011-transaction-filter-protocol/ @nervosnetwork/rfc @quake
/rfcs/0012-node-discovery/ @nervosnetwork/rfc @jjyr @TheWaWaR
/rfcs/0013-get-block-template/ @nervosnetwork/rfc @zhangsoledad
/rfcs/0014-vm-cycle-limits/ @nervosnetwork/rfc @xxuejie
/rfcs/0015-ckb-cryptoeconomics/ @nervosnetwork/rfc @knwang @janx
/rfcs/0017-tx-valid-since/ @nervosnetwork/rfc @jjyr
/rfcs/0019-data-structures/ @nervosnetwork/rfc @xxuejie
/rfcs/0020-ckb-consensus-protocol/ @nervosnetwork/rfc @nirenzang
/rfcs/0021-ckb-address-format/ @nervosnetwork/rfc @CipherWang
/rfcs/0022-transaction-structure/ @nervosnetwork/rfc @doitian
/rfcs/0023-dao-deposit-withdraw/ @nervosnetwork/rfc @xxuejie @doitian

Update testnet deployment information
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

More about `XudtData` is optional
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Improve description to owner lock
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Fix some review comments
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Remove inherited_file_descriptors special handling of NULL
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Describe in details how read/write to a closed channel would fail
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Add more detailed description of read & write syscalls
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Fix typo
  rfcs/0019-data-structures/0019-data-structures.md
Owners: @nervosnetwork/rfc, @xxuejie

Add more description about wait failure
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Added two scenarios about reading/writing hangs
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Optimize ckb_close
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Add constraints descriptions for process and pipe.
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Add more about instantiated/uninstantiated switch cycles.
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Add details to supported BTC addresses in omnilock
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

More details to P2SH
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Add details to P2SH
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Fix typo (#438)
  rfcs/0019-data-structures/0019-data-structures.md
Owners: @nervosnetwork/rfc, @xxuejie

Clarify endianess of integers in xUDT
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Optimize the description of Wait
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Optimize inherited_fds documents
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Update 0020-ckb-consensus-protocol.md
  rfcs/0020-ckb-consensus-protocol/0020-ckb-consensus-protocol.md
Owners: @nervosnetwork/rfc, @nirenzang

docs: fix link to the source code of omnilock
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

docs: fix link to the source code of omnilock (#441)
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update xUDT testnet deployment info
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

RFC(0053): CKB Hardfork
  rfcs/0053-ckb-hardfork/0053-ckb-hardfork.md
Owners: @nervosnetwork/rfc

fix: remove atomic instruction
  rfcs/0049-ckb-vm-version-2/0049-ckb-vm-version-2.md
Owners: @nervosnetwork/rfc

Fix: remove atomic instruction
  rfcs/0049-ckb-vm-version-2/0049-ckb-vm-version-2.md
Owners: @nervosnetwork/rfc

Remove unnecessary specifications
  rfcs/0049-ckb-vm-version-2/0049-ckb-vm-version-2.md
Owners: @nervosnetwork/rfc

Remove inherited_file_descriptors special handling of NULL
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Follow Sss's advice
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Add constraints descriptions for process and pipe.
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Add deadlock state
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Add more detailed description of read & write syscalls
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Update spawn syscalls
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Fix some review comments
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Describe in details how read/write to a closed channel would fail
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Optimize ckb_close
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Add more description about wait failure
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Optimize inherited_fds documents
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Add more about instantiated/uninstantiated switch cycles.
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc
