Repository nervosnetwork/rfcs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nervosnetwork/rfc, @knwang, @janx, @xxuejie, @doitian, @kilb, @jjyr, @yangby-cryptape, @aszepieniec, @quake, @TheWaWaR, @zhangsoledad, @nirenzang, @CipherWang

Mention ckb-vm version selection
  rfcs/0009-vm-syscalls/0009-vm-syscalls.md
  rfcs/0237-vm-syscalls-2/0237-vm-syscalls-2.md
Owners: @nervosnetwork/rfc, @xxuejie

add cheque info
  rfcs/0024-ckb-system-script-list/0024-ckb-system-script-list.md
Owners: @nervosnetwork/rfc

Fix the description of VM version for CKB Lina
  rfcs/0237-vm-syscalls-2/0237-vm-syscalls-2.md
Owners: @nervosnetwork/rfc

create placeholders for ckb2021 RFCs
  rfcs/0221-change-since-relative-timestamp/0221-change-since-relative-timestamp.md
  rfcs/0222-allow-script-multiple-matches-on-identical-code/0222-allow-script-multiple-matches-on-identical-code.md
  rfcs/0223-ensure-index-less-than-length-in-since/0223-ensure-index-less-than-length-in-since.md
  rfcs/0224-variable-length-header-field/0224-variable-length-header-field.md
  rfcs/0232-ckb-vm-version-selection/0232-ckb-vm-version-selection.md
  rfcs/0234-ckb2021-p2p-protocol-upgrade/0234-ckb2021-p2p-protocol-upgrade.md
  rfcs/0240-remove-header-deps-immature-rule/0240-remove-header-deps-immature-rule.md
  rfcs/0242-ckb2021/0242-ckb2021.md
Owners: @nervosnetwork/rfc

Add VM related PRs in 232
  rfcs/0232-ckb-vm-version-selection/0232-ckb-vm-version-selection.md
Owners: @nervosnetwork/rfc

create placeholders for ckb2021 RFCs (#243)
  rfcs/0221-change-since-relative-timestamp/0221-change-since-relative-timestamp.md
  rfcs/0222-allow-script-multiple-matches-on-identical-code/0222-allow-script-multiple-matches-on-identical-code.md
  rfcs/0223-ensure-index-less-than-length-in-since/0223-ensure-index-less-than-length-in-since.md
  rfcs/0224-variable-length-header-field/0224-variable-length-header-field.md
  rfcs/0232-ckb-vm-version-selection/0232-ckb-vm-version-selection.md
  rfcs/0234-ckb2021-p2p-protocol-upgrade/0234-ckb2021-p2p-protocol-upgrade.md
  rfcs/0240-remove-header-deps-immature-rule/0240-remove-header-deps-immature-rule.md
  rfcs/0242-ckb2021/0242-ckb2021.md
Owners: @nervosnetwork/rfc

Update B extension and MOP instructions
  rfcs/0236-ckb-vm-version-1/0236-ckb-vm-version-1.md
Owners: @nervosnetwork/rfc

initialize rfc 243 from template
  rfcs/0243-rfc/0243-rfc.md
Owners: @nervosnetwork/rfc

initialize rfc 245 from template
  rfcs/0245-rfc/0245-rfc.md
Owners: @nervosnetwork/rfc

Update rfc number to 0034
  rfcs/0009-vm-syscalls/0009-vm-syscalls.md
  rfcs/0034-vm-syscalls-2/0034-vm-syscalls-2.md
Owners: @nervosnetwork/rfc, @xxuejie

re-assign RFC numbers
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
  rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
  rfcs/0035-ckb2021-p2p-protocol-upgrade/0035-ckb2021-p2p-protocol-upgrade.md
  rfcs/0036-remove-header-deps-immature-rule/0036-remove-header-deps-immature-rule.md
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

RFC28: Use Block Timestamp as Start Timestamp in Since
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
Owners: @nervosnetwork/rfc

RFC29: Allow script multiple matches on identical code
  rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
Owners: @nervosnetwork/rfc

RFC30: Ensure that index < length in input since field using epoch
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
Owners: @nervosnetwork/rfc

RFC31: Add a variable length field in the block header
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
  rfcs/0031-variable-length-header-field/1-appending-the-field-at-the-end.md
  rfcs/0031-variable-length-header-field/2-using-molecule-table-in-new-block-headers.md
  rfcs/0031-variable-length-header-field/3-appending-a-hash-at-the-end.md
Owners: @nervosnetwork/rfc

RFC35: ckb2021 P2P protocol upgrade
  rfcs/0035-ckb2021-p2p-protocol-upgrade/0035-ckb2021-p2p-protocol-upgrade.md
  rfcs/0035-ckb2021-p2p-protocol-upgrade/0035-ckb2021-p2p-protocol-upgrade.zh-CN.md
Owners: @nervosnetwork/rfc

Update rfc number to 33
  rfcs/0003-ckb-vm/0003-ckb-vm.md
  rfcs/0003-ckb-vm/0003-ckb-vm.zh.md
  rfcs/0033-ckb-vm-version-1/0033-ckb-vm-version-1.md
Owners: @nervosnetwork/rfc, @xxuejie

RFC32: CKB VM version selection
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
Owners: @nervosnetwork/rfc

RFC36: remove header deps immature rule
  rfcs/0009-vm-syscalls/0009-vm-syscalls.md
  rfcs/0036-remove-header-deps-immature-rule/0036-remove-header-deps-immature-rule.md
Owners: @nervosnetwork/rfc, @xxuejie

RFC37: ckb2021 overview
  README.md
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

Update rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
Owners: @nervosnetwork/rfc

Update 0037-ckb2021.md
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

Update README.md
  README.md
Owners: @nervosnetwork/rfc

add a link to the RFC number allocation issue
  README.md
Owners: @nervosnetwork/rfc

ci: create pr summary weekly
  .github/scripts/.bundle/config
  .github/scripts/.gitignore
  .github/scripts/Gemfile
  .github/scripts/Gemfile.lock
  .github/scripts/github-graphql.rb
  .github/scripts/pr-summary.rb
  .github/workflows/pr-summary.rb
Owners: @nervosnetwork/rfc

chore: fix workflow file extension
  .github/workflows/pr-summary.yaml
Owners: @nervosnetwork/rfc

ci: fix file name in pr-summary workflow
  .github/workflows/pr-summary.yaml
Owners: @nervosnetwork/rfc

ci: show approved reviewers count
  .github/scripts/pr-summary.rb
Owners: @nervosnetwork/rfc

Update rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
Owners: @nervosnetwork/rfc

add cross references between rfc 22, 32, 33, 34, 35
  rfcs/0022-transaction-structure/0022-transaction-structure.md
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
Owners: @nervosnetwork/rfc, @doitian

add cheque info (#241)
  rfcs/0024-ckb-system-script-list/0024-ckb-system-script-list.md
Owners: @nervosnetwork/rfc

add guideline about how to upgrade to ckb2021
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

add transaction hash test vectors for data1 hash type
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
Owners: @nervosnetwork/rfc

add test vectors for block hash with extension
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
Owners: @nervosnetwork/rfc

Update rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
  rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
Owners: @nervosnetwork/rfc

apply suggestions from https://github.com/nervosnetwork/rfcs/pull/224#issuecomment-896594788
  rfcs/0020-ckb-consensus-protocol/0020-ckb-consensus-protocol.md
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
Owners: @nervosnetwork/rfc, @nirenzang

apply suggestions from https://github.com/nervosnetwork/rfcs/pull/224#issuecomment-896627400
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
Owners: @nervosnetwork/rfc

use uniform term to refer the Loading Header Immature Rule
  rfcs/0036-remove-header-deps-immature-rule/0036-remove-header-deps-immature-rule.md
Owners: @nervosnetwork/rfc

Explain what to do after removing the header immature rule.
  rfcs/0036-remove-header-deps-immature-rule/0036-remove-header-deps-immature-rule.md
Owners: @nervosnetwork/rfc

chore: build book using mdbook
  .gitignore
  README.md
  book.toml
  generate-book.sh
Owners: @nervosnetwork/rfc

.github/CODEOWNERS:

* @nervosnetwork/rfc
/rfcs/0001-positioning/ @nervosnetwork/rfc @knwang
/rfcs/0002-ckb/ @nervosnetwork/rfc @janx
/rfcs/0003-ckb-vm/ @nervosnetwork/rfc @xxuejie
/rfcs/0004-ckb-block-sync/ @nervosnetwork/rfc @doitian
/rfcs/0005-priviledged-mode/ @nervosnetwork/rfc @xxuejie
/rfcs/0006-merkle-tree/ @nervosnetwork/rfc @kilb
/rfcs/0007-scoring-system-and-network-security/ @nervosnetwork/rfc @jjyr
/rfcs/0008-serialization/ @nervosnetwork/rfc @yangby-cryptape
/rfcs/0009-vm-syscalls/ @nervosnetwork/rfc @xxuejie
/rfcs/0010-eaglesong/ @nervosnetwork/rfc @aszepieniec
/rfcs/0011-transaction-filter-protocol/ @nervosnetwork/rfc @quake
/rfcs/0012-node-discovery/ @nervosnetwork/rfc @jjyr @TheWaWaR
/rfcs/0013-get-block-template/ @nervosnetwork/rfc @zhangsoledad
/rfcs/0014-vm-cycle-limits/ @nervosnetwork/rfc @xxuejie
/rfcs/0015-ckb-cryptoeconomics/ @nervosnetwork/rfc @knwang @janx
/rfcs/0017-tx-valid-since/ @nervosnetwork/rfc @jjyr
/rfcs/0019-data-structures/ @nervosnetwork/rfc @xxuejie
/rfcs/0020-ckb-consensus-protocol/ @nervosnetwork/rfc @nirenzang
/rfcs/0021-ckb-address-format/ @nervosnetwork/rfc @CipherWang
/rfcs/0022-transaction-structure/ @nervosnetwork/rfc @doitian
/rfcs/0023-dao-deposit-withdraw/ @nervosnetwork/rfc @xxuejie @doitian
