Repository nervosnetwork/rfcs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nervosnetwork/rfc, @knwang, @janx, @xxuejie, @doitian, @kilb, @jjyr, @yangby-cryptape, @aszepieniec, @quake, @TheWaWaR, @zhangsoledad, @nirenzang, @CipherWang

RFC29: Allow multiple matches on dep cells via type script hash when these cells have the same data (#222)
  rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
Owners: @nervosnetwork/rfc

Update README.md
  README.md
Owners: @nervosnetwork/rfc

RFC31: Add a variable length field in the block header (#224)
  rfcs/0020-ckb-consensus-protocol/0020-ckb-consensus-protocol.md
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
  rfcs/0031-variable-length-header-field/1-appending-the-field-at-the-end.md
  rfcs/0031-variable-length-header-field/2-using-molecule-table-in-new-block-headers.md
  rfcs/0031-variable-length-header-field/3-appending-a-hash-at-the-end.md
Owners: @nervosnetwork/rfc, @nirenzang

RFC30: Ensure that index is less than length in input since field using epoch. (#223)
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
Owners: @nervosnetwork/rfc

RFC32: CKB VM version selection (#238)
  rfcs/0022-transaction-structure/0022-transaction-structure.md
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
Owners: @nervosnetwork/rfc, @doitian

rfc(38): The mainnet ckb2021 version is v0.103.0
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

use Standards Track as the category for CKB2021 proposals
  rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
  rfcs/0035-ckb2021-p2p-protocol-upgrade/0035-ckb2021-p2p-protocol-upgrade.md
  rfcs/0035-ckb2021-p2p-protocol-upgrade/0035-ckb2021-p2p-protocol-upgrade.zh-CN.md
  rfcs/0036-remove-header-deps-immature-rule/0036-remove-header-deps-immature-rule.md
Owners: @nervosnetwork/rfc

fix internal link to rfc32
  rfcs/0034-vm-syscalls-2/0034-vm-syscalls-2.md
Owners: @nervosnetwork/rfc

add ci job to check local link issues
  .github/scripts/local-link-checker.sh
  .github/workflows/local-link-checker.yaml
  .gitignore
Owners: @nervosnetwork/rfc

feat: rfc of Naming Convention for Nervos Cross-Chain Assets.
  README.md
  rfcs/0038-naming-convention-for-nervos-cross-chain-assets/0038-naming-convention-for-nervos-cross-chain-assets.md
Owners: @nervosnetwork/rfc

Editorial review updates
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
  rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
  rfcs/0031-variable-length-header-field/1-appending-the-field-at-the-end.md
  rfcs/0031-variable-length-header-field/2-using-molecule-table-in-new-block-headers.md
  rfcs/0031-variable-length-header-field/3-appending-a-hash-at-the-end.md
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
  rfcs/0033-ckb-vm-version-1/0033-ckb-vm-version-1.md
  rfcs/0034-vm-syscalls-2/0034-vm-syscalls-2.md
  rfcs/0035-ckb2021-p2p-protocol-upgrade/0035-ckb2021-p2p-protocol-upgrade.md
  rfcs/0036-remove-header-deps-immature-rule/0036-remove-header-deps-immature-rule.md
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

Update 0037-ckb2021.md
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

RFC: Universal Asset Notation
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

make UAN definition more rigid, move omission rules to display name
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

Update 0028-change-since-relative-timestamp.md
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
Owners: @nervosnetwork/rfc

Update according to Ian's suggestion
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
Owners: @nervosnetwork/rfc

Add code tags
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
Owners: @nervosnetwork/rfc

Update rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

Update UAN RFC, make it clear the notation differs from forcebridge convention
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

Update RFC 23 Gotchas in light of RFC 36
  rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md
Owners: @nervosnetwork/rfc, @xxuejie, @doitian

Omnilock draft version
  rfcs/0000-omnilock/0000-omnilock.md
  rfcs/0000-omnilock/rce_cells.png
Owners: @nervosnetwork/rfc

Formatting
  rfcs/0000-omnilock/0000-omnilock.md
Owners: @nervosnetwork/rfc

Introduce AdminList cell
  rfcs/0000-omnilock/0000-omnilock.md
Owners: @nervosnetwork/rfc

Add author contact information, remove organization
  rfcs/0000-omnilock/0000-omnilock.md
Owners: @nervosnetwork/rfc

Format of data array
  rfcs/0000-omnilock/0000-omnilock.md
Owners: @nervosnetwork/rfc

Make data structure more readable
  rfcs/0000-omnilock/0000-omnilock.md
Owners: @nervosnetwork/rfc

Example of supply mode
  rfcs/0000-omnilock/0000-omnilock.md
Owners: @nervosnetwork/rfc

update RFC0015 contact info
  rfcs/0015-ckb-cryptoeconomics/0015-ckb-cryptoeconomics.md
Owners: @nervosnetwork/rfc, @knwang, @janx

update RFC0015 contact info (#346)
  rfcs/0015-ckb-cryptoeconomics/0015-ckb-cryptoeconomics.md
Owners: @nervosnetwork/rfc, @knwang, @janx

Update deployment information
  rfcs/0000-omnilock/0000-omnilock.md
Owners: @nervosnetwork/rfc

Update RFC number
  rfcs/0042-omnilock/0042-omnilock.md
  rfcs/0042-omnilock/rce_cells.png
Owners: @nervosnetwork/rfc

Use ethereum signature as example
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update rfcs/0042-omnilock/0042-omnilock.md
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update rfcs/0042-omnilock/0042-omnilock.md
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update rfcs/0042-omnilock/0042-omnilock.md
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update rfcs/0042-omnilock/0042-omnilock.md
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update rfcs/0042-omnilock/0042-omnilock.md
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update rfcs/0042-omnilock/0042-omnilock.md
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update rfcs/0042-omnilock/0042-omnilock.md
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

move "auth" section to be a subsection of Omnilock script
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

.github/CODEOWNERS:

* @nervosnetwork/rfc
/rfcs/0001-positioning/ @nervosnetwork/rfc @knwang
/rfcs/0002-ckb/ @nervosnetwork/rfc @janx
/rfcs/0003-ckb-vm/ @nervosnetwork/rfc @xxuejie
/rfcs/0004-ckb-block-sync/ @nervosnetwork/rfc @doitian
/rfcs/0005-priviledged-mode/ @nervosnetwork/rfc @xxuejie
/rfcs/0006-merkle-tree/ @nervosnetwork/rfc @kilb
/rfcs/0007-scoring-system-and-network-security/ @nervosnetwork/rfc @jjyr
/rfcs/0008-serialization/ @nervosnetwork/rfc @yangby-cryptape
/rfcs/0009-vm-syscalls/ @nervosnetwork/rfc @xxuejie
/rfcs/0010-eaglesong/ @nervosnetwork/rfc @aszepieniec
/rfcs/0011-transaction-filter-protocol/ @nervosnetwork/rfc @quake
/rfcs/0012-node-discovery/ @nervosnetwork/rfc @jjyr @TheWaWaR
/rfcs/0013-get-block-template/ @nervosnetwork/rfc @zhangsoledad
/rfcs/0014-vm-cycle-limits/ @nervosnetwork/rfc @xxuejie
/rfcs/0015-ckb-cryptoeconomics/ @nervosnetwork/rfc @knwang @janx
/rfcs/0017-tx-valid-since/ @nervosnetwork/rfc @jjyr
/rfcs/0019-data-structures/ @nervosnetwork/rfc @xxuejie
/rfcs/0020-ckb-consensus-protocol/ @nervosnetwork/rfc @nirenzang
/rfcs/0021-ckb-address-format/ @nervosnetwork/rfc @CipherWang
/rfcs/0022-transaction-structure/ @nervosnetwork/rfc @doitian
/rfcs/0023-dao-deposit-withdraw/ @nervosnetwork/rfc @xxuejie @doitian
