Repository nervosnetwork/rfcs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nervosnetwork/rfc, @knwang, @janx, @xxuejie, @doitian, @kilb, @jjyr, @yangby-cryptape, @aszepieniec, @quake, @TheWaWaR, @zhangsoledad, @nirenzang, @CipherWang

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

docs: Update cheque rfc
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

fix: Update claim witness signature
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

chore: Rename 0039-cheque
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0039-cheque/0039-cheque.md
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

chore: dao rfc is outdated
  rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md
Owners: @nervosnetwork/rfc, @xxuejie, @doitian

chore: dao rfc is outdated (#315)
  rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md
Owners: @nervosnetwork/rfc, @xxuejie, @doitian

Apply suggestions from code review
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

Apply suggestions from code review
  rfcs/0036-remove-header-deps-immature-rule/0036-remove-header-deps-immature-rule.md
Owners: @nervosnetwork/rfc

Apply suggestions from code review
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
Owners: @nervosnetwork/rfc

Apply suggestions from code review
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
Owners: @nervosnetwork/rfc

Apply suggestions from code review
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

rfc(0004): update the network messages.
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.md
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.zh.md
Owners: @nervosnetwork/rfc, @doitian

Fix links in README
  README.md
Owners: @nervosnetwork/rfc

fix spell errors
  rfcs/0003-ckb-vm/0003-ckb-vm.md
  rfcs/0007-scoring-system-and-network-security/0007-scoring-system-and-network-security.md
  rfcs/0011-transaction-filter-protocol/0011-transaction-filter-protocol.md
  rfcs/0014-vm-cycle-limits/0014-vm-cycle-limits.md
  rfcs/0025-simple-udt/0025-simple-udt.md
  rfcs/0026-anyone-can-pay/0026-anyone-can-pay.md
  spell-ignore.txt
Owners: @nervosnetwork/rfc, @xxuejie, @jjyr, @quake

add workflow to check spell
  .github/workflows/spell.yaml
Owners: @nervosnetwork/rfc

Mark rfc0004 as Informational and Final
  README.md
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.md
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.zh.md
Owners: @nervosnetwork/rfc, @doitian

Revise according to the review comments from @xxuejie
  rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
Owners: @nervosnetwork/rfc

Fix links in README (#250)
  README.md
Owners: @nervosnetwork/rfc

revise rfc30 according to the review comment
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
Owners: @nervosnetwork/rfc

revise rfc31 according to the review comment
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
Owners: @nervosnetwork/rfc

revise rfc32 according to the review comment
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
Owners: @nervosnetwork/rfc

revise rfc32 according to the review comment
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
Owners: @nervosnetwork/rfc

Apply suggestions from code review
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
Owners: @nervosnetwork/rfc

Update rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
Owners: @nervosnetwork/rfc

RFC33: ckb vm version1 changes (#236)
  rfcs/0003-ckb-vm/0003-ckb-vm.md
  rfcs/0003-ckb-vm/0003-ckb-vm.zh.md
  rfcs/0033-ckb-vm-version-1/0033-ckb-vm-version-1.md
Owners: @nervosnetwork/rfc, @xxuejie

RFC36: remove header deps immature rule (#240)
  rfcs/0009-vm-syscalls/0009-vm-syscalls.md
  rfcs/0036-remove-header-deps-immature-rule/0036-remove-header-deps-immature-rule.md
Owners: @nervosnetwork/rfc, @xxuejie

RFC37: ckb2021 overview (#242)
  README.md
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

Improve CKB 1st hardfork RFC title
  README.md
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

Improve CKB 1st hardfork RFC title (#323)
  README.md
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

RFC35: ckb2021 P2P protocol upgrade (#234)
  rfcs/0035-ckb2021-p2p-protocol-upgrade/0035-ckb2021-p2p-protocol-upgrade.md
  rfcs/0035-ckb2021-p2p-protocol-upgrade/0035-ckb2021-p2p-protocol-upgrade.zh-CN.md
Owners: @nervosnetwork/rfc

RFC34: vm syscalls 2 (#237)
  rfcs/0009-vm-syscalls/0009-vm-syscalls.md
  rfcs/0034-vm-syscalls-2/0034-vm-syscalls-2.md
Owners: @nervosnetwork/rfc, @xxuejie

.github/CODEOWNERS:

* @nervosnetwork/rfc
/rfcs/0001-positioning/ @nervosnetwork/rfc @knwang
/rfcs/0002-ckb/ @nervosnetwork/rfc @janx
/rfcs/0003-ckb-vm/ @nervosnetwork/rfc @xxuejie
/rfcs/0004-ckb-block-sync/ @nervosnetwork/rfc @doitian
/rfcs/0005-priviledged-mode/ @nervosnetwork/rfc @xxuejie
/rfcs/0006-merkle-tree/ @nervosnetwork/rfc @kilb
/rfcs/0007-scoring-system-and-network-security/ @nervosnetwork/rfc @jjyr
/rfcs/0008-serialization/ @nervosnetwork/rfc @yangby-cryptape
/rfcs/0009-vm-syscalls/ @nervosnetwork/rfc @xxuejie
/rfcs/0010-eaglesong/ @nervosnetwork/rfc @aszepieniec
/rfcs/0011-transaction-filter-protocol/ @nervosnetwork/rfc @quake
/rfcs/0012-node-discovery/ @nervosnetwork/rfc @jjyr @TheWaWaR
/rfcs/0013-get-block-template/ @nervosnetwork/rfc @zhangsoledad
/rfcs/0014-vm-cycle-limits/ @nervosnetwork/rfc @xxuejie
/rfcs/0015-ckb-cryptoeconomics/ @nervosnetwork/rfc @knwang @janx
/rfcs/0017-tx-valid-since/ @nervosnetwork/rfc @jjyr
/rfcs/0019-data-structures/ @nervosnetwork/rfc @xxuejie
/rfcs/0020-ckb-consensus-protocol/ @nervosnetwork/rfc @nirenzang
/rfcs/0021-ckb-address-format/ @nervosnetwork/rfc @CipherWang
/rfcs/0022-transaction-structure/ @nervosnetwork/rfc @doitian
/rfcs/0023-dao-deposit-withdraw/ @nervosnetwork/rfc @xxuejie @doitian
