Repository nervosnetwork/rfcs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nervosnetwork/rfc, @knwang, @janx, @xxuejie, @doitian, @kilb, @jjyr, @yangby-cryptape, @aszepieniec, @quake, @TheWaWaR, @zhangsoledad, @nirenzang, @CipherWang

.github/CODEOWNERS:

* @nervosnetwork/rfc
/rfcs/0001-positioning/ @nervosnetwork/rfc @knwang
/rfcs/0002-ckb/ @nervosnetwork/rfc @janx
/rfcs/0003-ckb-vm/ @nervosnetwork/rfc @xxuejie
/rfcs/0004-ckb-block-sync/ @nervosnetwork/rfc @doitian
/rfcs/0005-priviledged-mode/ @nervosnetwork/rfc @xxuejie
/rfcs/0006-merkle-tree/ @nervosnetwork/rfc @kilb
/rfcs/0007-scoring-system-and-network-security/ @nervosnetwork/rfc @jjyr
/rfcs/0008-serialization/ @nervosnetwork/rfc @yangby-cryptape
/rfcs/0009-vm-syscalls/ @nervosnetwork/rfc @xxuejie
/rfcs/0010-eaglesong/ @nervosnetwork/rfc @aszepieniec
/rfcs/0011-transaction-filter-protocol/ @nervosnetwork/rfc @quake
/rfcs/0012-node-discovery/ @nervosnetwork/rfc @jjyr @TheWaWaR
/rfcs/0013-get-block-template/ @nervosnetwork/rfc @zhangsoledad
/rfcs/0014-vm-cycle-limits/ @nervosnetwork/rfc @xxuejie
/rfcs/0015-ckb-cryptoeconomics/ @nervosnetwork/rfc @knwang @janx
/rfcs/0017-tx-valid-since/ @nervosnetwork/rfc @jjyr
/rfcs/0019-data-structures/ @nervosnetwork/rfc @xxuejie
/rfcs/0020-ckb-consensus-protocol/ @nervosnetwork/rfc @nirenzang
/rfcs/0021-ckb-address-format/ @nervosnetwork/rfc @CipherWang
/rfcs/0022-transaction-structure/ @nervosnetwork/rfc @doitian
/rfcs/0023-dao-deposit-withdraw/ @nervosnetwork/rfc @xxuejie @doitian

fix(0044): a stupid design mistake in light client protocol
  rfcs/0044-ckb-light-client/0044-ckb-light-client.md
Owners: @nervosnetwork/rfc

Remove Discord Banner and fix invitation link
  README.md
Owners: @nervosnetwork/rfc

Mention 64 output cells limitation for NervosDAO transactions
  rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md
Owners: @nervosnetwork/rfc, @xxuejie, @doitian

Update 0044 deployment
  rfcs/0043-ckb-softfork-activation/0043-ckb-softfork-activation.md
  rfcs/0043-ckb-softfork-activation/deployments.md
  rfcs/0044-ckb-light-client/0044-ckb-light-client.md
Owners: @nervosnetwork/rfc

Fix bad markdown link
  rfcs/0034-vm-syscalls-2/0034-vm-syscalls-2.md
Owners: @nervosnetwork/rfc

add lychee to check external links
  .github/workflows/lychee.yml
  .lycheeignore
Owners: @nervosnetwork/rfc

fix link to RISC-V spec
  rfcs/0005-priviledged-mode/0005-priviledged-mode.md
  rfcs/0005-priviledged-mode/0005-priviledged-mode.zh.md
Owners: @nervosnetwork/rfc, @xxuejie

remove outdated CHANGELOG
  CHANGELOG.md
Owners: @nervosnetwork/rfc

fix link to github riscv-rust/rust
  rfcs/0003-ckb-vm/0003-ckb-vm.md
  rfcs/0003-ckb-vm/0003-ckb-vm.zh.md
Owners: @nervosnetwork/rfc, @xxuejie

chore: remove local link checker
  .github/workflows/local-link-checker.yaml
Owners: @nervosnetwork/rfc

Update rfcs/0025-simple-udt/0025-simple-udt.md
  rfcs/0025-simple-udt/0025-simple-udt.md
Owners: @nervosnetwork/rfc

chore: replace the action to setup Ruby
  .github/workflows/pr-summary.yaml
Owners: @nervosnetwork/rfc

rfc(46): initiate the Open Transaction RFC
  rfcs/0046-open-transaction/0046-open-transaction.md
Owners: @nervosnetwork/rfc

Update 0039-cheque.md
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

rfc(46): submit the open transaction RFC
  rfcs/0046-open-transaction/0046-open-transaction.md
Owners: @nervosnetwork/rfc

Improve core feature section of 0022
  rfcs/0022-transaction-structure/0022-transaction-structure.md
Owners: @nervosnetwork/rfc, @doitian

Improve part 2 of 0022
  rfcs/0022-transaction-structure/0022-transaction-structure.md
Owners: @nervosnetwork/rfc, @doitian

fix some typos for RFC 0004
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.md
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.zh.md
Owners: @nervosnetwork/rfc, @doitian

Update 0022-transaction-structure.md
  rfcs/0022-transaction-structure/0022-transaction-structure.md
Owners: @nervosnetwork/rfc, @doitian

Improve 0020's readability
  rfcs/0020-ckb-consensus-protocol/0020-ckb-consensus-protocol.md
Owners: @nervosnetwork/rfc, @nirenzang

refactor: update images and fix outdated info in rfcs-0004
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.md
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.zh.md
  rfcs/0004-ckb-block-sync/images/alice-status-tree.png
  rfcs/0004-ckb-block-sync/images/best-sent-header.jpg
  rfcs/0004-ckb-block-sync/images/block-status.jpg
  rfcs/0004-ckb-block-sync/images/connect-header-conditions.jpg
  rfcs/0004-ckb-block-sync/images/connect-header-conditions.png
  rfcs/0004-ckb-block-sync/images/connect-header-status.jpg
  rfcs/0004-ckb-block-sync/images/connect-header-status.png
  rfcs/0004-ckb-block-sync/images/header-status.png
  rfcs/0004-ckb-block-sync/images/header-sync.png
  rfcs/0004-ckb-block-sync/images/locator.jpg
  rfcs/0004-ckb-block-sync/images/locator.png
  rfcs/0004-ckb-block-sync/images/seq-connect-headers.png
  rfcs/0004-ckb-block-sync/images/sliding-window.jpg
  rfcs/0004-ckb-block-sync/images/sliding-window.png
  rfcs/0004-ckb-block-sync/images/status-tree.jpg
Owners: @nervosnetwork/rfc, @doitian

fix: type
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

chore(ci): fix the workflow to generate PR summary
  .github/scripts/Gemfile.lock
  .github/scripts/pr-summary.rb
  .github/workflows/pr-summary.yaml
Owners: @nervosnetwork/rfc

fix: type (#414)
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

Remove Block Header Version Reservation Rule
  rfcs/0146-remove-block-header-version-reservation-rule/0146-remove-block-header-version-reservation-rule.md
Owners: @nervosnetwork/rfc

VM Syscalls 3
  rfcs/0147-vm-syscalls-3/0147-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

VM version2
  rfcs/0148-ckb-vm-version-2/0148-ckb-vm-version-2.md
Owners: @nervosnetwork/rfc

docs: remove unnecessary words
  rfcs/0022-transaction-structure/0022-transaction-structure.md
Owners: @nervosnetwork/rfc, @doitian

update the signature of spawn
  rfcs/0147-vm-syscalls-3/0147-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

reserve RFC number 0048
  rfcs/0048-remove-block-header-version-reservation-rule/0048-remove-block-header-version-reservation-rule.md
Owners: @nervosnetwork/rfc

reserve RFC number 49
  rfcs/0049-ckb-vm-version-2/0049-ckb-vm-version-2.md
Owners: @nervosnetwork/rfc

reserve RFC number 50
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Updating vm version2
  rfcs/0049-ckb-vm-version-2/0049-ckb-vm-version-2.md
Owners: @nervosnetwork/rfc

Apply suggestions from code review
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Update 0022-transaction-structure.md
  rfcs/0022-transaction-structure/0022-transaction-structure.md
Owners: @nervosnetwork/rfc, @doitian

Apply suggestions from code review
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

add ckb_current_memory introduce
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Fix transactions_root typo in rfcs/0027-block-structure
  rfcs/0027-block-structure/0027-block-structure.md
Owners: @nervosnetwork/rfc

Create syscalls-summary.md
  rfcs/syscalls-summary/syscalls-summary.md
Owners: @nervosnetwork/rfc

Elaborate descriptions to benefit new developers.
  rfcs/0046-syscalls-summary/0046-syscalls-summary.md
  rfcs/syscalls-summary/syscalls-summary.md
Owners: @nervosnetwork/rfc
