Repository nervosnetwork/rfcs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nervosnetwork/rfc, @knwang, @janx, @xxuejie, @doitian, @kilb, @jjyr, @yangby-cryptape, @aszepieniec, @quake, @TheWaWaR, @zhangsoledad, @nirenzang, @CipherWang

.github/CODEOWNERS:

* @nervosnetwork/rfc
/rfcs/0001-positioning/ @nervosnetwork/rfc @knwang
/rfcs/0002-ckb/ @nervosnetwork/rfc @janx
/rfcs/0003-ckb-vm/ @nervosnetwork/rfc @xxuejie
/rfcs/0004-ckb-block-sync/ @nervosnetwork/rfc @doitian
/rfcs/0005-priviledged-mode/ @nervosnetwork/rfc @xxuejie
/rfcs/0006-merkle-tree/ @nervosnetwork/rfc @kilb
/rfcs/0007-scoring-system-and-network-security/ @nervosnetwork/rfc @jjyr
/rfcs/0008-serialization/ @nervosnetwork/rfc @yangby-cryptape
/rfcs/0009-vm-syscalls/ @nervosnetwork/rfc @xxuejie
/rfcs/0010-eaglesong/ @nervosnetwork/rfc @aszepieniec
/rfcs/0011-transaction-filter-protocol/ @nervosnetwork/rfc @quake
/rfcs/0012-node-discovery/ @nervosnetwork/rfc @jjyr @TheWaWaR
/rfcs/0013-get-block-template/ @nervosnetwork/rfc @zhangsoledad
/rfcs/0014-vm-cycle-limits/ @nervosnetwork/rfc @xxuejie
/rfcs/0015-ckb-cryptoeconomics/ @nervosnetwork/rfc @knwang @janx
/rfcs/0017-tx-valid-since/ @nervosnetwork/rfc @jjyr
/rfcs/0019-data-structures/ @nervosnetwork/rfc @xxuejie
/rfcs/0020-ckb-consensus-protocol/ @nervosnetwork/rfc @nirenzang
/rfcs/0021-ckb-address-format/ @nervosnetwork/rfc @CipherWang
/rfcs/0022-transaction-structure/ @nervosnetwork/rfc @doitian
/rfcs/0023-dao-deposit-withdraw/ @nervosnetwork/rfc @xxuejie @doitian

finalize RFC 0015
  README.md
  rfcs/0015-ckb-cryptoeconomics/0015-ckb-cryptoeconomics.md
Owners: @nervosnetwork/rfc, @knwang, @janx

chore: finalize "RFC-0012: Node Discovery"
  README.md
  rfcs/0012-node-discovery/0012-node-discovery.md
  rfcs/0012-node-discovery/0012-node-discovery.zh.md
Owners: @nervosnetwork/rfc, @jjyr, @TheWaWaR

Withdrawn 0019. Content deprecated by RFC 0022 and 0027.
  README.md
  rfcs/0019-data-structures/0019-data-structures.md
Owners: @nervosnetwork/rfc, @xxuejie

update 0023, fix typos and improve wording
  rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md
Owners: @nervosnetwork/rfc, @xxuejie, @doitian

activate 0023
  README.md
  rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md
Owners: @nervosnetwork/rfc, @xxuejie, @doitian

add some rules;fix typo
  rfcs/0000-sudt-info/0000-sudt info.md
Owners: @nervosnetwork/rfc

update 0023 rephrase definition of `I_i`
  rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md
Owners: @nervosnetwork/rfc, @xxuejie, @doitian

docs: Update ckb genesis scripts list
  README.md
  rfcs/0024-ckb-genesis-script-list/0024-ckb-genesis-script-list.md
  rfcs/0024-ckb-system-script-list/0024-ckb-system-script-list.md
Owners: @nervosnetwork/rfc

Update rfcs/0024-ckb-genesis-script-list/0024-ckb-genesis-script-list.md
  rfcs/0024-ckb-genesis-script-list/0024-ckb-genesis-script-list.md
Owners: @nervosnetwork/rfc

Update rfcs/0024-ckb-genesis-script-list/0024-ckb-genesis-script-list.md
  rfcs/0024-ckb-genesis-script-list/0024-ckb-genesis-script-list.md
Owners: @nervosnetwork/rfc

docs: Update genesis script list organization
  rfcs/0024-ckb-genesis-script-list/0024-ckb-genesis-script-list.md
Owners: @nervosnetwork/rfc

docs: Update genesis script list rfc status
  rfcs/0024-ckb-genesis-script-list/0024-ckb-genesis-script-list.md
Owners: @nervosnetwork/rfc

Apply suggestions from code review
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
Owners: @nervosnetwork/rfc

Add link to rfc27 block structure
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
Owners: @nervosnetwork/rfc

rephrase why it is safe to use block timestamp as since start time
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
Owners: @nervosnetwork/rfc

Update README.md
  README.md
Owners: @nervosnetwork/rfc

docs: Update type id description
  rfcs/0024-ckb-genesis-script-list/0024-ckb-genesis-script-list.md
Owners: @nervosnetwork/rfc

Update rfcs/0024-ckb-genesis-script-list/0024-ckb-genesis-script-list.md
  rfcs/0024-ckb-genesis-script-list/0024-ckb-genesis-script-list.md
Owners: @nervosnetwork/rfc

fix typo: Unified as SUDT Info
  rfcs/0000-sudt-info/0000-sudt info.md
Owners: @nervosnetwork/rfc

change rfc number to 0038
  rfcs/0000-sudt-info/0000-sudt info.md
Owners: @nervosnetwork/rfc

change some words to uppercase
  rfcs/0000-sudt-info/0000-sudt info.md
Owners: @nervosnetwork/rfc

rename to rfc number 0038
  rfcs/0038-sudt-info/0038-sudt info.md
Owners: @nervosnetwork/rfc

doc: remove the sudt info verification
  rfcs/0038-sudt-info/0038-sudt info.md
Owners: @nervosnetwork/rfc

fix: 0024 relative link
  rfcs/0021-ckb-address-format/0021-ckb-address-format.md
  rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md
Owners: @nervosnetwork/rfc, @CipherWang, @xxuejie, @doitian

change category to Standards Track
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
Owners: @nervosnetwork/rfc

Update SUDT script info
  rfcs/0025-simple-udt/0025-simple-udt.md
Owners: @nervosnetwork/rfc

chore: update discord invitation link
  README.md
Owners: @nervosnetwork/rfc

docs: Add cheque lock rfc
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

docs: Update cheque rfc format
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

docs: Add deployment info to cheque lock
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update anyone can pay script info
  rfcs/0026-anyone-can-pay/0026-anyone-can-pay.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0038-cheque/0038-cheque.md
  rfcs/0038-cheque/0038-cheque.md
Owners: @nervosnetwork/rfc
