Repository nervosnetwork/rfcs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nervosnetwork/rfc, @knwang, @janx, @xxuejie, @doitian, @kilb, @jjyr, @yangby-cryptape, @aszepieniec, @quake, @TheWaWaR, @zhangsoledad, @nirenzang, @CipherWang

Update rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
Owners: @nervosnetwork/rfc

Update rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
  rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
Owners: @nervosnetwork/rfc

Update rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
Owners: @nervosnetwork/rfc

Update rfcs/0017-tx-valid-since/0017-tx-valid-since.md
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

docs: Fix typo
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

Merge branch 'revise-since-rfc' of https://github.com/doitian/rfcs into revise-since-rfc.
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
  rfcs/0017-tx-valid-since/e-i-l-encoding.png
Owners: @nervosnetwork/rfc, @jjyr

docs: Add ci configure link
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

add authors to rfc17
  README.md
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

fix typo in rfc17
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

revise rfc28 and rfc30 to be consistent with rfc17
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
Owners: @nervosnetwork/rfc

docs: Update cheque rules
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

Minor changes to rfc17 (#368)
  README.md
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
Owners: @nervosnetwork/rfc, @jjyr

Fix RFC0017 subject in README
  README.md
Owners: @nervosnetwork/rfc

Fix RFC0017 subject in README (#371)
  README.md
Owners: @nervosnetwork/rfc

Remove reference to nonexistent RFC in RFC 22
  rfcs/0022-transaction-structure/0022-transaction-structure.md
Owners: @nervosnetwork/rfc, @doitian

Update text for clarity.
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

Add Cheque Lock to RFCs list.
  README.md
Owners: @nervosnetwork/rfc

RFC: Client Side Block Filter Protocol
  rfcs/0000-client-block-filter/0000-client-block-filter.md
Owners: @nervosnetwork/rfc

Fix broken link
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

docs: Update cheque lock status
  README.md
Owners: @nervosnetwork/rfc

Differences between omnilock and MultiSig
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

format(rfc39): split references into paragraphs.
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

RFC: CKB softfork activation
  README.md
  rfcs/0043-ckb-softfork-activation/0043-ckb-softfork-activation.md
  rfcs/0043-ckb-softfork-activation/images/state-transitions.png
Owners: @nervosnetwork/rfc

Update rfcs/0043-ckb-softfork-activation/0043-ckb-softfork-activation.md
  rfcs/0043-ckb-softfork-activation/0043-ckb-softfork-activation.md
Owners: @nervosnetwork/rfc

Apply suggestions from code review
  rfcs/0000-client-block-filter/0000-client-block-filter.md
Owners: @nervosnetwork/rfc

update rfc number
  rfcs/0000-client-block-filter/0000-client-block-filter.md
Owners: @nervosnetwork/rfc

chore: assign rfc number
  rfcs/0045-client-block-filter/0045-client-block-filter.md
Owners: @nervosnetwork/rfc

fix: README 0043 link
  README.md
Owners: @nervosnetwork/rfc

fix: 0043 status to Proposal
  README.md
  rfcs/0043-ckb-softfork-activation/0043-ckb-softfork-activation.md
Owners: @nervosnetwork/rfc

Different hash calculation to pw-lock
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update 0020-ckb-consensus-protocol.md
  rfcs/0020-ckb-consensus-protocol/0020-ckb-consensus-protocol.md
Owners: @nervosnetwork/rfc, @nirenzang

RFC: CKB Light Client Protocol
  README.md
  rfcs/0044-ckb-light-client/0044-ckb-light-client.md
Owners: @nervosnetwork/rfc

The exact hashes used
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update rfcs/0045-client-block-filter/0045-client-block-filter.md
  rfcs/0045-client-block-filter/0045-client-block-filter.md
Owners: @nervosnetwork/rfc

chore: add link in README
  README.md
Owners: @nervosnetwork/rfc

Update rfcs/0045-client-block-filter/0045-client-block-filter.md
  rfcs/0045-client-block-filter/0045-client-block-filter.md
Owners: @nervosnetwork/rfc

Update rfcs/0045-client-block-filter/0045-client-block-filter.md
  rfcs/0045-client-block-filter/0045-client-block-filter.md
Owners: @nervosnetwork/rfc

Create yaml
  aleph.eth/yaml
Owners: @nervosnetwork/rfc

Fix Simple UDT Rule 3 wording
  rfcs/0025-simple-udt/0025-simple-udt.md
Owners: @nervosnetwork/rfc

Add reference to script definition
  rfcs/0025-simple-udt/0025-simple-udt.md
Owners: @nervosnetwork/rfc

.github/CODEOWNERS:

* @nervosnetwork/rfc
/rfcs/0001-positioning/ @nervosnetwork/rfc @knwang
/rfcs/0002-ckb/ @nervosnetwork/rfc @janx
/rfcs/0003-ckb-vm/ @nervosnetwork/rfc @xxuejie
/rfcs/0004-ckb-block-sync/ @nervosnetwork/rfc @doitian
/rfcs/0005-priviledged-mode/ @nervosnetwork/rfc @xxuejie
/rfcs/0006-merkle-tree/ @nervosnetwork/rfc @kilb
/rfcs/0007-scoring-system-and-network-security/ @nervosnetwork/rfc @jjyr
/rfcs/0008-serialization/ @nervosnetwork/rfc @yangby-cryptape
/rfcs/0009-vm-syscalls/ @nervosnetwork/rfc @xxuejie
/rfcs/0010-eaglesong/ @nervosnetwork/rfc @aszepieniec
/rfcs/0011-transaction-filter-protocol/ @nervosnetwork/rfc @quake
/rfcs/0012-node-discovery/ @nervosnetwork/rfc @jjyr @TheWaWaR
/rfcs/0013-get-block-template/ @nervosnetwork/rfc @zhangsoledad
/rfcs/0014-vm-cycle-limits/ @nervosnetwork/rfc @xxuejie
/rfcs/0015-ckb-cryptoeconomics/ @nervosnetwork/rfc @knwang @janx
/rfcs/0017-tx-valid-since/ @nervosnetwork/rfc @jjyr
/rfcs/0019-data-structures/ @nervosnetwork/rfc @xxuejie
/rfcs/0020-ckb-consensus-protocol/ @nervosnetwork/rfc @nirenzang
/rfcs/0021-ckb-address-format/ @nervosnetwork/rfc @CipherWang
/rfcs/0022-transaction-structure/ @nervosnetwork/rfc @doitian
/rfcs/0023-dao-deposit-withdraw/ @nervosnetwork/rfc @xxuejie @doitian
