Repository nervosnetwork/rfcs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nervosnetwork/rfc, @knwang, @janx, @xxuejie, @doitian, @kilb, @jjyr, @yangby-cryptape, @aszepieniec, @quake, @TheWaWaR, @zhangsoledad, @nirenzang, @CipherWang

.github/CODEOWNERS:

* @nervosnetwork/rfc
/rfcs/0001-positioning/ @nervosnetwork/rfc @knwang
/rfcs/0002-ckb/ @nervosnetwork/rfc @janx
/rfcs/0003-ckb-vm/ @nervosnetwork/rfc @xxuejie
/rfcs/0004-ckb-block-sync/ @nervosnetwork/rfc @doitian
/rfcs/0005-priviledged-mode/ @nervosnetwork/rfc @xxuejie
/rfcs/0006-merkle-tree/ @nervosnetwork/rfc @kilb
/rfcs/0007-scoring-system-and-network-security/ @nervosnetwork/rfc @jjyr
/rfcs/0008-serialization/ @nervosnetwork/rfc @yangby-cryptape
/rfcs/0009-vm-syscalls/ @nervosnetwork/rfc @xxuejie
/rfcs/0010-eaglesong/ @nervosnetwork/rfc @aszepieniec
/rfcs/0011-transaction-filter-protocol/ @nervosnetwork/rfc @quake
/rfcs/0012-node-discovery/ @nervosnetwork/rfc @jjyr @TheWaWaR
/rfcs/0013-get-block-template/ @nervosnetwork/rfc @zhangsoledad
/rfcs/0014-vm-cycle-limits/ @nervosnetwork/rfc @xxuejie
/rfcs/0015-ckb-cryptoeconomics/ @nervosnetwork/rfc @knwang @janx
/rfcs/0017-tx-valid-since/ @nervosnetwork/rfc @jjyr
/rfcs/0019-data-structures/ @nervosnetwork/rfc @xxuejie
/rfcs/0020-ckb-consensus-protocol/ @nervosnetwork/rfc @nirenzang
/rfcs/0021-ckb-address-format/ @nervosnetwork/rfc @CipherWang
/rfcs/0022-transaction-structure/ @nervosnetwork/rfc @doitian
/rfcs/0023-dao-deposit-withdraw/ @nervosnetwork/rfc @xxuejie @doitian

Add description for message
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Reformat
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

Update rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

Update rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

Use "without mode" instead of "empty"
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update README.md
  README.md
Owners: @nervosnetwork/rfc

Remove reference to maturity constraint
  rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md
Owners: @nervosnetwork/rfc, @xxuejie, @doitian

Remove reference to maturity constraint (#356)
  rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md
Owners: @nervosnetwork/rfc, @xxuejie, @doitian

Update rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

Update rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

Update rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

RFC universal-asset-notation typo fix
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

RFC universal-asset-notation contact update
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

Remove rfc0019 maturity rules notice
  rfcs/0019-data-structures/0019-data-structures.md
Owners: @nervosnetwork/rfc, @xxuejie

Update 0028-change-since-relative-timestamp.md
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
Owners: @nervosnetwork/rfc

Update according to Ian's suggestion
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
Owners: @nervosnetwork/rfc

Update 0037-ckb2021.md
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

Editorial review updates
  rfcs/0028-change-since-relative-timestamp/0028-change-since-relative-timestamp.md
  rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
  rfcs/0030-ensure-index-less-than-length-in-since/0030-ensure-index-less-than-length-in-since.md
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
  rfcs/0031-variable-length-header-field/1-appending-the-field-at-the-end.md
  rfcs/0031-variable-length-header-field/2-using-molecule-table-in-new-block-headers.md
  rfcs/0031-variable-length-header-field/3-appending-a-hash-at-the-end.md
  rfcs/0032-ckb-vm-version-selection/0032-ckb-vm-version-selection.md
  rfcs/0033-ckb-vm-version-1/0033-ckb-vm-version-1.md
  rfcs/0034-vm-syscalls-2/0034-vm-syscalls-2.md
  rfcs/0035-ckb2021-p2p-protocol-upgrade/0035-ckb2021-p2p-protocol-upgrade.md
  rfcs/0036-remove-header-deps-immature-rule/0036-remove-header-deps-immature-rule.md
  rfcs/0037-ckb2021/0037-ckb2021.md
Owners: @nervosnetwork/rfc

Add code tags
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
Owners: @nervosnetwork/rfc

Update rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
  rfcs/0000-universal-asset-notation/0000-universal-asset-notation.md
Owners: @nervosnetwork/rfc

Update rfcs/0039-cheque/0039-cheque.md
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

docs: Add more custom assets for cheque lock
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0017-tx-valid-since/0017-tx-valid-since.md
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

Apply suggestions from code review
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

When L is 0, E + I / L is considered as E + 0 / 1
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

rewrite tx valid since summary
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

Update rfcs/0017-tx-valid-since/0017-tx-valid-since.md
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

Update rfcs/0017-tx-valid-since/0017-tx-valid-since.md
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

Add a link to the diagrams in LucidChart
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

Revise Since RFC.
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
  rfcs/0017-tx-valid-since/cell-lifecycle.jpg
  rfcs/0017-tx-valid-since/since-encoding.jpg
  rfcs/0017-tx-valid-since/since-verification.jpg
Owners: @nervosnetwork/rfc, @jjyr

Update rfcs/0017-tx-valid-since/0017-tx-valid-since.md
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

rewrite the RFC using the term since precondition
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
  rfcs/0017-tx-valid-since/cell-lifecycle.jpg
  rfcs/0017-tx-valid-since/commitment-block.jpg
  rfcs/0017-tx-valid-since/since-verification.jpg
  rfcs/0017-tx-valid-since/target-value.jpg
  rfcs/0017-tx-valid-since/threshold-value.jpg
Owners: @nervosnetwork/rfc, @jjyr

fix spell check errors and improve the grammar
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

fix a markdown link
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

docs: Update cheque metadata
  rfcs/0039-cheque/0039-cheque.md
Owners: @nervosnetwork/rfc

Update rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
Owners: @nervosnetwork/rfc

Update rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
  rfcs/0031-variable-length-header-field/0031-variable-length-header-field.md
Owners: @nervosnetwork/rfc

Update rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
  rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
Owners: @nervosnetwork/rfc

Update rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
  rfcs/0029-allow-script-multiple-matches-on-identical-code/0029-allow-script-multiple-matches-on-identical-code.md
Owners: @nervosnetwork/rfc
