Repository nervosnetwork/rfcs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nervosnetwork/rfc, @knwang, @janx, @xxuejie, @doitian, @kilb, @jjyr, @yangby-cryptape, @aszepieniec, @quake, @TheWaWaR, @zhangsoledad, @nirenzang, @CipherWang

.github/CODEOWNERS:

* @nervosnetwork/rfc
/rfcs/0001-positioning/ @nervosnetwork/rfc @knwang
/rfcs/0002-ckb/ @nervosnetwork/rfc @janx
/rfcs/0003-ckb-vm/ @nervosnetwork/rfc @xxuejie
/rfcs/0004-ckb-block-sync/ @nervosnetwork/rfc @doitian
/rfcs/0005-priviledged-mode/ @nervosnetwork/rfc @xxuejie
/rfcs/0006-merkle-tree/ @nervosnetwork/rfc @kilb
/rfcs/0007-scoring-system-and-network-security/ @nervosnetwork/rfc @jjyr
/rfcs/0008-serialization/ @nervosnetwork/rfc @yangby-cryptape
/rfcs/0009-vm-syscalls/ @nervosnetwork/rfc @xxuejie
/rfcs/0010-eaglesong/ @nervosnetwork/rfc @aszepieniec
/rfcs/0011-transaction-filter-protocol/ @nervosnetwork/rfc @quake
/rfcs/0012-node-discovery/ @nervosnetwork/rfc @jjyr @TheWaWaR
/rfcs/0013-get-block-template/ @nervosnetwork/rfc @zhangsoledad
/rfcs/0014-vm-cycle-limits/ @nervosnetwork/rfc @xxuejie
/rfcs/0015-ckb-cryptoeconomics/ @nervosnetwork/rfc @knwang @janx
/rfcs/0017-tx-valid-since/ @nervosnetwork/rfc @jjyr
/rfcs/0019-data-structures/ @nervosnetwork/rfc @xxuejie
/rfcs/0020-ckb-consensus-protocol/ @nervosnetwork/rfc @nirenzang
/rfcs/0021-ckb-address-format/ @nervosnetwork/rfc @CipherWang
/rfcs/0022-transaction-structure/ @nervosnetwork/rfc @doitian
/rfcs/0023-dao-deposit-withdraw/ @nervosnetwork/rfc @xxuejie @doitian

Add RFC46 to index.
  README.md
Owners: @nervosnetwork/rfc

RFC: Cells Commitments
  rfcs/0000-cells-commitments/ckb-cells-commitments.md
Owners: @nervosnetwork/rfc

chore: update the mainnet state of RFC-0044
  rfcs/0044-ckb-light-client/0044-ckb-light-client.md
Owners: @nervosnetwork/rfc

chore: resolve review issues
  rfcs/0000-cells-commitments/ckb-cells-commitments.md
Owners: @nervosnetwork/rfc

chore: rename load block extension syscall
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

feat: wallet connect
  rfcs/0047-walletconnect-namespaces/0047-walletconnect-namespaces.md
  rfcs/0047-walletconnect-namespaces/Reference-level-explanation.md
Owners: @nervosnetwork/rfc

Update 0050-vm-syscalls-3.md
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

Update rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
  rfcs/0050-vm-syscalls-3/0050-vm-syscalls-3.md
Owners: @nervosnetwork/rfc

fix: typos in 0017-tx-valid-since.md
  rfcs/0017-tx-valid-since/0017-tx-valid-since.md
Owners: @nervosnetwork/rfc, @jjyr

reserve RFC number 51
  rfcs/0051-ckb2023/0051-ckb2023.md
Owners: @nervosnetwork/rfc

ckb2023 overview
  rfcs/0149-ckb2023/0149-ckb2023.md
Owners: @nervosnetwork/rfc

Add xUDT RFC
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Add why we use zero lock
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update omni-lock testnet deployment
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update 0051-ckb2023.md
  rfcs/0051-ckb2023/0051-ckb2023.md
Owners: @nervosnetwork/rfc

Update testnet info
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Mainnent info
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update signing message hash conversion
  rfcs/0042-omnilock/0042-omnilock.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update rfcs/0052-extensible-udt/0052-extensible-udt.md
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

ci: remove pr summary workflow
  .github/scripts/.bundle/config
  .github/scripts/.gitignore
  .github/scripts/Gemfile
  .github/scripts/Gemfile.lock
  .github/scripts/github-graphql.rb
  .github/scripts/pr-summary.rb
  .github/workflows/pr-summary.yaml
Owners: @nervosnetwork/rfc

XUDT data part is optional
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Update to review
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc

Fix typos
  rfcs/0008-serialization/0008-serialization.md
Owners: @nervosnetwork/rfc, @yangby-cryptape

fix typo
  rfcs/0046-syscalls-summary/0046-syscalls-summary.md
Owners: @nervosnetwork/rfc

rfcs: fix some comments
  rfcs/0003-ckb-vm/0003-ckb-vm.md
  rfcs/0011-transaction-filter-protocol/0011-transaction-filter-protocol.md
  rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md
Owners: @nervosnetwork/rfc, @xxuejie, @quake, @doitian

rfc(0004): update the network messages.
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.md
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.zh.md
Owners: @nervosnetwork/rfc, @doitian

rfc(0004): mark rfc0004 as Informational and Final
  README.md
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.md
  rfcs/0004-ckb-block-sync/0004-ckb-block-sync.zh.md
Owners: @nervosnetwork/rfc, @doitian

Rename raw_extension_data to extension_scripts
  rfcs/0052-extensible-udt/0052-extensible-udt.md
Owners: @nervosnetwork/rfc
